<footer id="footer">

    <div style="text-align: center;">
        <p class="footerText">GranRest Tecnology &copy; 2022 - Todos los derechos reservados| Política de privacidad</p>
    </div>

    <div id="linkredes" style=" display: flex; flex-direction:row; justify-content: center;">
        <a href="https://www.facebook.com/GranRestTecnology" target="_blank" rel="noopener" style="padding: 5px;">
            <img loading="lazy" src="../../../assets/images/facebook.png" alt="" width="40" height="40"></a><br>
        <a href="https://www.linkedin.com/in/luis-anrrango-a8a25a133/" target="_blank" rel="noopener" style="padding: 5px;">
            <img loading="lazy" src="../../../assets/images/linkedin.png" alt="" width="40" height="40"></a><br>
        <a href="#" target="_blank" rel="noopener" style="padding: 5px;">
            <img loading="lazy" src="../../../assets/images/twitter.png" alt="" width="40" height="40"></a><br>
        <a href="https://www.instagram.com/granresttecnology/" target="_blank" rel="noopener" style="padding: 5px;">
            <img loading="lazy" src="../../../assets/images/instagram.png" alt="" width="40" height="40"></a><br>
        <a href="https://www.youtube.com/channel/UCjr3lgTP9eAMkW2OmvKRkmQ" target="_blank" rel="noopener" style="padding: 5px;">
            <img loading="lazy" src="../../../assets/images/youtube.png" alt="" width="40" height="40"></a>
    </div>


</footer>