<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Desarrollo de Aplicaciones Web personalizadas<span class="text-muted"></span></h2>
            <p class="lead">Fortelecer el desarrollo económico y social del Norte del Pais a través de el uso de la tecnología</p>
        </div>
        <div class="col-md-5">

            <img src="../../../assets/images/nosotros/desarrollo.jpg" placeholder width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Visión<span class="text-muted"></span></h2>
            <p class="lead">En el año 2025 será un referente nacional en transformación digital de PYMES</p>
        </div>
        <div class="col-md-5 order-md-1">


            <img src="../../../assets/images/nosotros/vision2.jpg" placeholder width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Misión<span class="text-muted"></span></h2>
            <p class="lead">GrantRest Tecnology somos una empresa de desarrollo de Software a medida, que genera, fomenta y ejecuta procesos tecnológicos, de conocimientos científicos y de innovación en la gestión y desarrollo de software de calidad; vinculados con el
                medio para promover las ventas y éxito de nuestros clientes.</p>
        </div>
        <div class="col-md-5">

            <img src="../../../assets/images/nosotros/vision.jpg" placeholder width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->