<div class="card mb-3" style="max-width: 1100px;">
    <div class="row g-0">

        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">¿Quiénes somos?</h5>
                <p class="card-text" style="text-align: justify;">GrantRest Tecnology somos un grupo de personas dispuestas a resolver problemas a través de la tecnología. Desarrollamos software con las tecnologías del momento, avanzamos hacia el futuro, compartiendo conocimientos y nunca dejamos de
                    aprender, no ganamos a los clientes; ganamos junto a ellos.</p>

            </div>
        </div>
        <div class="col-md-8">
            <div class="ratio ratio-21x9" style="margin-top: 7%;">

                <app-youtube></app-youtube>

            </div>
        </div>
    </div>
</div>

<div style="text-align:center">
    <h1>Productos & Servicios</h1>
</div>
<div class="alert alert-primary" role="alert"> </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/DesarrolloWeb.jpg" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Desarrollo de Software a medida</h5>
                <p class="text left" style="text-align: left;">

                    <li>Aplicaciones Web</li>
                    <li>Aplicación web de Facturación </li>
                    <li>Aplicación web de Créditos</li>

                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/AccesoriiosPc2.jpg" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Comercio de Productos para PC y Celuláres</h5>
                <p class="card-text " style="text-align: left;">
                    <li>Cargadores de Laptons y Celuláres</li>
                    <li>Mouse</li>
                    <li>Auriculares</li>
                    <li>Parlantes</li>
                    <li>Micas, estuches, etc..</li>


                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/reparacionPC2.png" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento y Repación de Computadoras</h5>
                <p class="card-text" style="text-align: left;">
                    <li>Instalación de Sistema Operativo</li>
                    <li>Programas</li>
                    <li>Antivirus</li>
                    <li>Redes LAN y Wifi</li>
                    <li>Formateo</li>

                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/onlineEducacion.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Capacitación</h5>
                <p class="card-text">
                    <li>Brindar capacitaciones a estudiantes y profesionales a través de expertos de GrantRest Tecnology </li>
                </p>
            </div>
        </div>
    </div>
</div>
<!--Apartado para las herramientas-->
<div style="text-align:center">
    <h1>Tecnologías</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">

        <div class="container">

            <img src="../../../assets/images/Angular.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
            <p class="angular12">Framework Angular</p>
        </div>
    </div>

    <div class="col">

        <div class="container">

            <img src="../../../assets/images/JavaEE.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
            <p style="align-content: center;">Java Enterprise Edition</p>
        </div>
    </div>
    <div class="col">

        <div class="container">

            <img src="../../../assets/images/Primefaces.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
            <p style="align-content: center;">Primefaces 8</p>
        </div>
    </div>
    <div class="col">

        <div class="container">

            <img src="../../../assets/images/OracleApex.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
            <p style="align-content: center;">Oracle APEX 21.2</p>
        </div>
    </div>
    <div class="col">

        <div class="container">

            <img src="../../../assets/images/JSF.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
            <p style="align-content: center;">Java Server Faces</p>
        </div>
    </div>
    <div class="col">

        <div class="container">

            <img src="../../../assets/images/bootstrap.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
            <p style="align-content: center;">bootstrap V5.1 </p>
        </div>
    </div>


</div>

<!--Apartado para las Experiencias-->
<div style="text-align:center">
    <h1>Experiencias</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Experiencias/odontologicoUtn.jpg" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Aplicación Odontológica UTN</h5>
                <p class="card-text" style="text-align: justify;">
                    Desarrollo de una aplicación Web integrado al sistema SIIU de la UTN para fortalecer el proceso Odontológico de la Dirección de Bienestar Universitario, mediante la aplicación de la subcaracterística de interoperabilidad del estándar ISO/IEC 25010, utilizando
                    la plataforma Oracle APEX.
                </p>
                <p>Documentación y Aplicativo: <a href="http://repositorio.utn.edu.ec/handle/123456789/11857" target="_blank" rel="noopener noreferrer">Sistema Odontológico UTN</a>.</p>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Experiencias/Agr.png" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">
                    Aplicación Web Agricola Pimampiro
                </h5>
                <p class="card-text" style="text-align: justify;">
                    Desarrollo de aplicación Web para el manejo de productos Químicos en cultivos de la zona Norte del País, utilizando JEE y primefaces.
                </p>
                <p>Aplicativo: <a href="http://repositorio.utn.edu.ec/handle/123456789/11857" target="_blank" rel="noopener noreferrer">Sistema Agricola Pimampiro</a>.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Experiencias/Trejal.png" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Sistema de Facturación "Trejal Soluciones Agricolas"</h5>
                <p class="card-text" style="text-align: justify;">
                    Desarrollo de Aplicación Web de facturación para el control de Invetario, facturas, clientes, productos etc.

                </p>
                <p>Aplicativo localhost: <a href="#" target="_blank" rel="noopener noreferrer">Sistema de Facturación</a>.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Experiencias/Captura de pantalla (46).png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sitio Web Electro Muebles Morales</h5>
                <p class="card-text" style="text-align: justify;">
                    Desarrollo de pagina web para mostrar catálogo de productos de la Empresa, mediante la herramienta Angular
                </p>
                <p>Visitar: <a href="http://repositorio.utn.edu.ec/handle/123456789/11857" target="_blank" rel="noopener noreferrer">Sitio Web Electro Muebles Morales</a>.</p>
            </div>
        </div>
    </div>
</div>
<!--Apartado para las Experiencias-->
<div style="text-align:center">
    <h1>Clientes</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Clientes/utn.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Universidad Técnica del Norte</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Clientes/agricolaPimam.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Agricola Pimampiro</h5>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Clientes/Trejal.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Trejal Soluciones Agricolas</h5>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/Clientes/logolizz2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Electro Muebles Morales</h5>

            </div>
        </div>
    </div>
</div>
<app-precios></app-precios>