<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Productos & Servicios<span class="text-muted"></span></h2>
            <p class="lead">Brindar soluciones informáticas mediante el uso de herramientas y productos tecnologicos </p>
        </div>
        <div class="col-md-5 order-md-1">


            <img src="../../../assets/images/servicios/servicios.png" placeholder width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">



    <!-- /END THE FEATURETTES -->

</div>





<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/DesarrolloWeb.jpg" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Desarrollo de Software a medida</h5>
                <p class="card-text" style="text-align: left;">
                    <li>Aplicaciones Web</li>
                    <li>Aplicación web de Facturación </li>
                    <li>Aplicación web de Créditos</li>
                    <li>Páginas Web</li>

                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/AccesoriiosPc2.jpg" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Comercio de Productos para PC y Celuláres</h5>
                <p class="card-text" style="text-align: left;">
                    <li>Cargadores de Laptons y Celuláres</li>
                    <li>Mouse</li>
                    <li>Auriculares</li>
                    <li>Parlantes</li>
                    <li>Micas, estuches, etc..</li>


                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/reparacionPC2.png" class="card-img-top" style="height: 205px;">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento y Repación de Computadoras</h5>
                <p class="card-text" style="text-align: left;">
                    <li>Instalación de Sistema Operativo</li>
                    <li>Programas</li>
                    <li>Antivirus</li>
                    <li>Redes LAN y Wifi</li>
                    <li>Formateo</li>

                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/images/onlineEducacion.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Capacitación</h5>
                <p class="card-text">
                    <li>Brindar capacitaciones a estudiantes y profesionales a través de expertos de GrantRest Tecnology </li>
                </p>
            </div>
        </div>
    </div>
</div>
<app-precios></app-precios>