<h1>Conoce los beneficios de un sitio web</h1>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../../assets/images/blog/desarrollo.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Internet</h5>
                <p class="card-text" style="text-align: justify;">Internet es una herramienta utilizada en todo el mundo que nos permite acceder a múltiples recursos y conocer sobre otras personas con facilidad.</p>
                <p class="card-text"><small class="text-muted">actualizado hace 3 minutos</small></p>
            </div>
        </div>
    </div>
</div>
<h3 style="text-align: left;">Definición de sitio web</h3>
<p style="text-align: justify;">Un sitio web es un conjunto de páginas web accesibles a través de internet, convenientemente enlazadas y con una finalidad concreta. Está identificado por una dirección URL única, que usualmente es la página de inicio o Home page.</p>
<h3 style="text-align: left;">Definición de página web</h3>
<p style="text-align: justify;">Una página web, página electrónica, página digital o ciberpágina, ​​ es un documento o información electrónica capaz de contener texto, sonido, vídeo, programas, enlaces, imágenes, hipervínculos y muchas otras cosas, adaptada para la llamada World Wide
    Web, y que puede ser accedida mediante un navegador web.</p>
<h3 style="text-align: left;">Beneficios de una página web</h3>
<div style="text-align: left;">
    <li>Mejorar la imagen de la marca</li>
    <li> Posicionar la marca</li>
    <li> Nuevos clientes y mercados</li>
    <li> Fideliza a tus clientes</li>
    <li> Incrementa las ventas</li>
    <li> Escaparate virtual</li>
    <li> Servicio 24 horas</li>
    <li> Relación coste-beneficio</li>
    <li> Posiciona en los buscadores</li>
</div>